@using IglooTheme.Commerce.Extensions
@using IglooTheme.Commerce.Views.Shared.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@{
        var settingsPublishedModel = Model.Settings;
        var contentPublishedModel = Model.Content;
        var invokeDto = new BasketSummaryInvokeDto
        {
            ColumnHorizontalAlignmentCssClass = settingsPublishedModel?.Value<string>("tableHorizontalAlignment"),
            ColumnWidthCssClass = settingsPublishedModel?.Value<string>("tableWidth"),
            ContainerWidthCssClass = settingsPublishedModel?.Value<string>("containerWidth"),
            StyleVariableOverrides = settingsPublishedModel.GenerateWidgetStyleVariables(),
            CustomCssClasses = settingsPublishedModel?.Value<List<string>>("customCssClasses"),
            SubTotalText = contentPublishedModel?.Value<string>("subTotalText"),
            DiscountText = contentPublishedModel?.Value<string>("discountText"),
            ShippingText = contentPublishedModel?.Value<string>("shippingText"),
            TaxText = contentPublishedModel?.Value<string>("taxText"),
            TotalPriceText = contentPublishedModel?.Value<string>("totalPriceText"),
            ItemsIdentifier = contentPublishedModel?.Value<string>("itemsIdentifier"),
        };
    }
<div class="basket-summary-widget__container">
    @await Component.InvokeAsync("BasketSummary", invokeDto)
</div>
<script>
    const basketSummaryInvokeModel = @Html.Raw(Json.Serialize(invokeDto));

     WidgetHelper.reRenderOnBasketEmptied("BasketSummary", "basket-summary-widget__container", basketSummaryInvokeModel)
 </script>